<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>    

<style>
  .header{
    text-align: center;
    padding: 50px 0;
}
img{
    display: block;
    margin: 0 auto;
    width: 525px;
    border-radius: 25px;
    box-shadow: 01px 4px 12px 3px #66fcf1;
}

.form-box{
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    border:2px solid #45a29e;
    border-radius: 30px;
    background-color: #0b0c10 ;
    color: #98dad9; 
    box-shadow:05px 7px 15px 6px #66fcf1; 
    justify-items: center; 
}

.form-grup{
    display:contents;
    align-items: flex-start;
}

input,textarea {
    border-radius: 10px;
    border-color:#45a29e ;
    background-color:#c5c6c7 ;
}

input[type="submit"] {
	background: #98dad9;
	color: black;
	border-style: outset;
	border-color: 2px solid #45a29e;
	height: 50px;
	width: 100px;
	font: 'pacifico', cursive;
	text-shadow: none;
    cursor: pointer;
    box-shadow: 0.5px 2px 6px 1.5px #66fcf1;
}
</style>
<title>Document</title>
    
</head>



<body>
    {{!-- Navbar visible across all views --}}
    <nav class="navbar navbar-light bg-light d-flex">
        <a class="mx-3 navbar-brand" href="/dashboard">
        <img src="/20230207_202845.jpg" alt="Day in the Life"></a>
      </nav>
<!--main body-->
      <main>
        {{{ body }}}
      </main>
      {{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

