<br>
<div class="card-header">
    <a href="/dashboard/create"><button type="submit" class="btn btn-dark mb-3 d-flex">Create New Entry</button></a>
    <br>
       Your Entries:

  <div class="card-body">
    
    {{#if entries.length}}

  
    {{#each entries as |entry|}}
      {{> indEntry entry}}
    {{/each}}
    </div>
    {{else}}
    <h5 class="card">No entries available for display. Journal entries you create will be displayed here</h5>
    {{/if}}
  </div>
  
</div>