<div class="card"><br>
    <h2>Welcome to Tech-Blog!</h2><br>
{{#if entries.length}}
{{#each entries as |entry|}}
<div class="card">
    {{> indEntry entry}}
</div>
{{/each}}
{{else}}
<div>
    no entries available yet
</div>
{{/if}}
</div>