{{#if !loggedIn}}

<div class="row jumborow">
<div class="jumbotron text-center mx-4 col-12">
  <h1 class="jumbo-text display-4 align-self-end">A Day in the Life</h1>
  <p class="lead  ">Keep track of all your days.</p>
  <hr class="my-4">
  <div class="container col-1 mr-5 d-flex flex-column py-4 landing-btn">
  <button type="button" class="landing-btn my-4 btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Login
  </button>
  <button type="button" class=" landing-btn btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Sign-up
  </button>
</div>
</div>

</div>

