  <div class="card">
        <div class="card-header">
          <h2>New Entry</h2>
        </div>
        <div class="card-body">
          <input
           id="input-box-title"
            placeholder="Post Title"></input>
            <input
           id="input-box"
            placeholder="Show off your day in the life!"></input>
           
        </div>
        <div class="card-footer">
          <button class="btn">Submit</button>
        </div>
      </div>