body {
    background-color: #0b0c10;
    font-family: 'Pacifico', cursive;
}

.header{
    text-align: center;
    padding: 50px 0;
}
img{
    display: block;
    margin: 0 auto;
    width: 525px;
    border-radius: 25px;
    box-shadow: 01px 4px 12px 3px #66fcf1;
}

.form-box{
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    border:2px solid #45a29e;
    border-radius: 30px;
    background-color: #0b0c10 ;
    color: #98dad9; 
    box-shadow:05px 7px 15px 6px #66fcf1; 
    justify-items: center; 
}

.form-grup{
    display:contents;
    align-items: flex-start;
}

input,textarea {
    border-radius: 10px;
    border-color:#45a29e ;
    background-color:#c5c6c7 ;
}

input[type="submit"] {
	background: #98dad9;
	color: black;
	border-style: outset;
	border-color: 2px solid #45a29e;
	height: 50px;
	width: 100px;
	font: 'pacifico', cursive;
	text-shadow: none;
    cursor: pointer;
    box-shadow: 0.5px 2px 6px 1.5px #66fcf1;
}